html{
    position: relative;
    min-height: 100%;

}

/*.container{
  height: 100%;
  width: 100%;
}*/



body {
/*    background-image: url("https://images7.alphacoders.com/303/303069.png");*/
    background-size: contain;
    background-attachment:inherit;
    background-position: center;
    font-family: 'Lato';
    margin: 0 0 100px;
    padding-top: 0px;
    padding-bottom: auto;
}


.not-active {
   pointer-events: none;
   cursor: default;
}

nav.navbar-default{
  background-color: #000000  
}

@media (max-width: 2560px) {
ul.nav{padding-left: 18%}
}
@media (max-width: 1980px) {
ul.nav{padding-left: 39%}
}
@media (max-width: 1200px) {
ul.nav{padding-left: 30%}
}
@media (max-width: 990px) {
ul.nav{    padding-left: 25%;
          padding-right: 15%;
          position: center;
        }
}
@media (max-width: 768px) {
ul.nav{padding-left: 45%}
}
@media (max-width: 470px) {
ul.nav{padding-left: 40%}
}


ul.nav a{color:#ffffff !important;}

ul.nav nav-text{color:#ffffff !important;}




ul.nav li a span {
    width: 25px;
    margin: 0 auto;
}

ul.nav li a:hover:after {
  content: ' ';
  position: absolute;
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-top: solid white 10px;
    bottom: 40px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    width: 0;
}

ul.nav li a:hover:after .active {
  content: ' ';
  position: absolute;
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-top: solid white 10px;
    bottom: 40px;
    content: " ";
    height: 0;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    width: 0;
}


/* Responsive navigation colour */
#main_navbar .navbar-toggle {
  background-color: #ffffff
   ;
}

/* Navigation highlight for current page */
body#home a#homenav, body#create a#create, body#menupage a#menunav, body#contacts a#contactnav {
  background-color: #843534;
}

.current:after {
  content: ' ';
  position: absolute;
  border: solid 10px transparent;
  border-top: solid 0px transparent;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
  border-color: #ffffff transparent transparent transparent;
}


#footer{
  background:#000000;
  padding:15px 30px;
  /*position: fixed;*/
  position: fixed;
  left: 0;
  bottom: 0;
  height: 45px;
  width: 100%;
  overflow:hidden;
  border-top-style:solid;
  border-top-width: 1px;  
  color:#ffffff !important;
  border-top-color:#edeeef;
}
